@page "/counter"
@rendermode InteractiveServer

<PageTitle>Bộ đếm</PageTitle>

<h1>Bộ đếm</h1>

<p role="status">Giá trị hiện tại: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Tăng số</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
